@import "tailwindcss";

:root {
  --bg-primary: rgb(20, 38, 128);
}

@layer theme, base, components, utilities;

@layer utilities {

  .text-primary {
    color: #f48739;
  }

  .text-secondary {
    color: #0051ff;
  }

  .animate-dot-bounce {
    animation: dotBounce 1.2s ease-in-out infinite;
  }

  @keyframes dotBounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-8px);
    }
  }


}
