@import "tailwindcss";

:root {
  --bg-primary: rgb(20, 38, 128);
}

@layer theme, base, components, utilities;

@layer utilities {

  .text-primary {
    color: #f48739;
  }

  .text-secondary {
    color: #0051ff;
  }
}
