@import "tailwindcss";

:root {
  --bg-primary: rgb(20, 38, 128);
}

@layer theme, base, components, utilities;

@layer utilities {


}

body {
  background-color: var(--bg-primary);
  color: white;
}